

.tours__container {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    overflow: hidden;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }

  picture {
    display: flex;
  }
}

.tours__title {
  position: relative;
  margin: 0;
  padding: 39px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 119px 0 54px;
  }

  &::before {
    content: "Ближайшие туры";
    display: inline-block;
    position: absolute;
    top: 20px;
    font-weight: 800;
    font-style: normal;
    font-size: 26px;
    line-height: 26px;
    color: $color-text-basic;
    opacity: 3%;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 40px;
      top: 45px;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 55px;
      top: 100px;
    }
  }
}

.tours__button-block {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 60px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    top: 120px;
  }
}

.tours__list {
  margin: 0;
  padding: 0;
}

.tours__item:nth-child(2),
.tours__item:nth-child(3),
.tours__item:nth-child(4) {
  @media (min-width: $tablet-width) {
    .tours__details {
      gap: 27px;
    }
  }
}

.tours__description {
  position: absolute;
  bottom: 26px;
  padding: 0 20px;
  color: $color-text-white;
  align-items: center;

  @media (min-width: $tablet-width) {
    column-gap: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
  }
}

.tours__description-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.tours__stats {
  display: flex;
  gap: 17px;
}

.tours__subtitle {
  margin: 16px 0 30px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background-color: $color-white;
    opacity: 20%;
    position: absolute;
    bottom: -15px;
  }

  @media (min-width: $tablet-width) {
    width: 235px;
  }
}

.tours__details,
.tours__details-rating {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tours__details {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 28px;
  }
}

.tours__details-date,
.tours__details-quantity {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.tours__details-level {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.tours__details-rating {
  display: flex;
  gap: 1px;
}

.tours__text-info {
  width: fit-content;
  padding: 0 12px 0 0;
  height: 28px;
  color: $color-text-white;
  background-color: $color-background-blue;
  display: flex;
  align-items: center;
  gap: 9px;
  box-sizing: border-box;

  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 12px;
    background-image: url("/__spritemap#sprite-tours_pin-view");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 16px;
  }
}

.tours__stats-text {
  display: flex;
  align-items: center;
}

.tours__stats-text:nth-child(1) {
  height: 20px;
  gap: 12px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-tours_sun-view");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.tours__stats-text:nth-child(2) {
  height: 20px;
  gap: 14px;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-tours_moon-view");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.tours__link {
  color: $color-button-additional;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: center;
  margin: 35px 0 30px;

  @media (min-width: $tablet-width) {
    margin: 35px 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 63px 0 110px;
  }

  &::after {
    content: "";
    display: block;
    width: 6px;
    height: 12px;
    background-image: url("/__spritemap#sprite-tours_small_arrow-view");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
