.page-body {
  font-family: $primary-font;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.heading-h1 {
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    font-size: 77px;
    line-height: 77px;
  }
}

.heading-h2 {
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 55px;
  }
}

.heading-h3 {
  font-weight: 800;
  font-style: normal;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}

.heading-h4 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 28px;
  }
}

.heading-h5 {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
  }
}

.heading-h6 {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.text-b {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.text-r {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-s {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.text-xs {
  font-weight: 400;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 130%;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 16px;
  }
}

.captions-b {
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
}

.captions-m {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
}

.captions-s {
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
}

.button-text-b {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.button-text-link {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.button-text-r {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
}

.inputs-nav-text {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
