.page-body {
  font-family: $primary-font;
  font-style: normal;
}

.main-container {
  position: relative;
  overflow: hidden;


  &::after {
    content: "";
    display: block;
    width: 141px;
    height: 595px;
    position: absolute;
    z-index: -1;
    top: 578px;
    left: auto;
    right: 0;
    background-image:
      image-set(
        url("../../img/background/background1_mobile@1x.webp") 1x,
        url("../../img/background/background1_mobile@2x.webp") 2x,
        url("../../img/background/background1_mobile@1x.png") 1x,
        url("../../img/background/background1_mobile@2x.png") 2x
      );

    @media (min-width: $tablet-width) {
      top: 942px;
      width: 425px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/background/background1_tablet@1x.webp") 1x,
          url("../../img/background/background1_tablet@2x.webp") 2x,
          url("../../img/background/background1_tablet@1x.png") 1x,
          url("../../img/background/background1_tablet@2x.png") 2x
        );
    }

    @media (min-width: $desktop-width) {
      top: 674px;
      width: 602px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/background/background1_desktop@1x.webp") 1x,
          url("../../img/background/background1_desktop@2x.webp") 2x,
          url("../../img/background/background1_desktop@1x.png") 1x,
          url("../../img/background/background1_desktop@2x.png") 2x
        );
    }
  }
}

.button {
  display: none;
  width: 37px;
  height: 35px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    border-color: $color-dark-blue;
    background-color: $color-background-white;
  }

  &:focus-visible {
    border-color: transparent;
    background-color: $color-background-white;
  }

  &:active {
    border-color: $color-dark-blue;
    background-color: $color-dark-blue;
  }

  &:disabled {
    border-color: $color-disabled;
    background-color: $color-disabled;
  }
}

.button-prev {
  background-image: url("/__spritemap#sprite-arrow_right-view");
  background-repeat: no-repeat;
  background-size: 14px 9px;
  background-position: center;
  background-color: $color-background-blue;

  &:hover,
  &:focus-visible {
    background-image: url("/__spritemap#sprite-arrow_right_dark-view");
  }

  &:active,
  &:disabled {
    background-image: url("/__spritemap#sprite-arrow_right-view");
  }
}

.button-next {
  background-image: url("/__spritemap#sprite-arrow_right-view");
  rotate: 180deg;
  background-repeat: no-repeat;
  background-size: 14px 9px;
  background-position: center;
  background-color: $color-background-blue;

  &:hover,
  &:focus-visible {
    background-image: url("/__spritemap#sprite-arrow_right_dark-view");
  }

  &:active,
  &:disabled {
    background-image: url("/__spritemap#sprite-arrow_right-view");
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.heading-h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    font-size: 77px;
    line-height: 77px;
  }
}

.heading-h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 55px;
  }
}

.heading-h3 {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}

.heading-h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 28px;
  }
}

.heading-h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
  }
}

.heading-h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.text-b {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.text-r {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-fr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-s {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.text-xs {
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 130%;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 16px;
  }
}


.text-tr {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.captions-b {
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}

.captions-m {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.captions-s {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.button-text-b {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.button-text-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.button-text-r {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.inputs-nav-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.inputs-nav-text-fr {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.captions-r {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    line-height: 13px;
  }
}
